<!DOCTYPE html>

<html>
<head>
    @System.Web.Optimization.Styles.Render("~/bundles/css")
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
       <div class="row">
           @RenderBody()
       </div>
    </div>
</body>
</html>
