@model AU_Tasks_App.Models.AU_VM.VMUserLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @System.Web.Optimization.Styles.Render("~/bundles/css")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> ssss
    </div>
</body>
</html>
